<!DOCTYPE html>
<html lang="es">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/public/estilos.css?v=1.0.1">
<link rel="icon" href="/public/assets/logoTriviaMaster.png">

<body class="body-header">

<header class="header">
    <div style="width: 150px; display: flex; justify-content: center">
        <img src="/public/assets/logoTriviaMaster.png" style="width: 60px">
    </div>
    <div>
        <a href="/"><img style="width: 200px" src="/public/assets/tituloMasterTriviaHeader.png"></a>
    </div>
    <div class="auth-buttons" style="width: 150px; display: flex; justify-content: center">
        <a class="bottonA" href="/usuario/logout">Cerrar Sesion</a>
    </div>

</header>
