<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/public/estilos.css?v=1.0.1">
</head>
<body>
<h1 style="display: flex; justify-content: center;">Bienvenido {{nombre}}</h1>
<div class="boxplay">

    <a class="bottonA" href="/administrador/mostrarDatosGenerales">Datos generales</a>
    <a class="bottonA" href="/administrador/mostrarDatosUsuarioPorPais">Datos usuario por pais</a>
    <a class="bottonA" href="/administrador/mostrarDatosUsuarioPorSexo">Datos usuario por sexo</a>
    <a class="bottonA" href="/administrador/mostrarDatosUsuarioPorGrupoDeEdad">Datos usuario por grupo de edad</a>
    <a class="bottonA" href="/administrador/mostrarDatosPorcentaje">Porcentaje de preguntas correctas</a>

</div>
</body>
</html>