<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos Generales</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/estilos.css?v=1.0.1">
</head>
<body class="datos-body">
<div class="container">
    <h2 class="mb-4">Datos Generales</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Descripción</th>
                <th>Valor</th>
            </tr>
            </thead>
            <tbody>
            {{#datosUsuario}}
                <tr>
                    <td>{{descripcion}}</td>
                    <td>{{valor}}</td>
                </tr>
            {{/datosUsuario}}
            </tbody>
        </table>
    </div>

    <form action="/administrador/crearPDF?categoria=general" method="post" id="pdfForm">
        <input type="hidden" name="generatingPDF" value="true">
        <button type="submit" id="imprimirPDF">Imprimir Datos</button>
    </form>

    <div>
        <h3>Gráfico Día:</h3>
        {{{graficoDia}}}
    </div>
    <div>
        <h3>Gráfico Mes:</h3>
        {{{graficoMes}}}
    </div>
    <div>
        <h3>Gráfico Año:</h3>
        {{{graficoAnio}}}
    </div>
</div>

</body>
</html>
