<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráfico de Datos Generales</title>
</head>
<body>
<h1>Gráfico de Datos Generales</h1>
<img src="{{chartPath}}" alt="Gráfico de Datos Generales">
</body>
</html>