<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="boxLost">
        <div class="lost">
            Perdiste
        </div>
        <div class="boxResults">
            <div class="result">
                Tu puntaje fue: {{puntajeFinal}}
            </div>
            <div class="result">
                La respuesta correcta era: {{respuestaCorrectaFinal}}
            </div>
        </div>
        <div>
            <a href="/" class="bottonA">
                    Lobby
            </a>
        </div>
    </div>
</body>
</html>