
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ranking</title>
    <link rel="stylesheet" href="/public/estilos.css?v=v=1.0.1">
</head>
<div class="div-ranking-controller">
    <div class="ranking-container">
        <h1>Ranking de Jugadores</h1>
        {{#jugadores}}
            <div class="ranking">
                <div class="player">
                    <img src="/{{fotoPerfil}}" alt="Icono de ranking">
                    <a href="/perfil/get/usuario={{nombreJugador}}"><span class="name">{{nombreJugador}}</span></a>
                    <span class="points">{{puntajeJugador}}</span>
                </div>
            </div>
        {{/jugadores}}
        <div>
            <a href="/" class="bottonA">
                Volver
            </a>
        </div>
    </div>
</div>
</html>