<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Master Trivia / Verficar Mail</title>
    <link rel="stylesheet" href="/public/estilos.css">
</head>
<body>
<div class="container-verificacion">
    <h1 style="text-align: center">Verificación de Correo Electrónico</h1>
    <p style="text-align: center; font-family: sans-serif; color: #333333">Se ha enviado un código de verificación a tu correo electrónico. Por favor, revisa tu bandeja de entrada y sigue las instrucciones para completar el proceso de verificación.</p>

    <div style="text-align: center">
        <a href="/"><button class="button-register">Volver al inicio</button></a>
    </div>

</div>
</body>
</html>
<body class="verificacion-body">

</body>
